%h1.twelvecol Welcome aboard

#introducing.sixcol
  %p#tag
    %strong THE OUTDOOR TYPES
    make music that will hug you on a warm spring day and scare you in a dark alley.

  .frame
    %img{:src => @image.source }
  %p
    It is recommended that you listen to our
    =succeed(",") do
      %a{:href => "/music", :title => "Listen to our records"}records
    then come see an upcoming
    %a{:href => "/shows", :title => "See our upcoming shows"}musical show
    &hellip; Your friends, ODT.


.sixcol.last
  %h2 Recent news
  -if @news
    %h3
      %a{:href => "#{@blog_url}/post/#{@news.post_id}/#{@news.slug}"}=@news.title
    =@news.body.truncate(400, :omission => " &hellip; <a href='#{@blog_url}/post/#{@news.post_id}/#{@news.slug}'>continue reading</a>")
  -else
    %h3 No news, is good news?
    %p Looks like our Tumblelog isn't being friendly right now, check back later.

.twocol
  %h2 Upcoming shows
  -if !@shows || @shows.empty?
    %p We're not touring at the moment.
    %p
      Interested in booking us?
      =succeed(".") do
        %a{:href => "mailto:bookings@theoutdoortypes.co.uk"}Get in touch
  -else
    %ol#shows
      -show_gigs = 2
      -@shows[0...show_gigs].each do |show|
        %li
          -date=Time.parse(show['startDate'])
          %h3
            %a{:href => show['url'], :title => "View event on Last.fm"}=[show['venue']['name'], show['venue']['location']['city']].reject { |s| s.empty? }.join(', ')
          %p
            =date.strftime("%a, %d %b#{", %Y" if date.year != Date.today.year} at %I:%M%p")
    %p
      -if @shows.length > show_gigs
        %a{:href => "shows"}==#{@shows.length - show_gigs} more
        in the diary&hellip;
      -else
        %a{:href => "shows"}See all shows

.twocol.last
  %h2 Press
  .review
    %blockquote=@review.quote
    %p.source
      &mdash;
      =@review.source